body,html{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.login-page-wrapper{

    width: 100vw;
    height: 100vh;
    position: relative;

    .login-wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .login-main{
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        
        .logo-image{
            width: 50px;
        }
        #formData{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .input-field{
                width: 50%;
            }
        }
    }

    .image-container{
        flex: 5;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 85%;
        }
    }

}

